<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">
      <localRepository/>
      <interactiveMode/>
      <offline/>
      <pluginGroups/>
      <servers/>
      <mirrors>
        <mirror>
          <id>my-central</id>
          <name>My Central</name>
          <url>http://35.225.210.223:8081/repository/maven-central/</url>
          <mirrorOf>central</mirrorOf>
        </mirror>
      </mirrors>
      <proxies/>
      <profiles>
            <profile>
                  <id>nexus</id>
                  <repositories>
                        <repository>
                              <id>maven-releases</id>
                              <url>http://35.225.210.223:8081/repository/maven-releases/</url>
                        </repository>
                        <repository>
                              <id>maven-snapshots</id>
                              <url>http://35.225.210.223:8081/repository/maven-snapshots/</url>
                              <releases>
                                    <enabled>false</enabled>
                              </releases>
                              <snapshots>
                                    <enabled>true</enabled>
                              </snapshots>
                        </repository>
                  </repositories>
            </profile>      
      </profiles>
      <activeProfiles>
            <activeProfile>nexus</activeProfile>
      </activeProfiles>
</settings>
